*{
    margin: 0;
    padding: 0;
}  

/* nav related style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}


body {
        font-family: "Open Sans", serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
        font-variation-settings: "wdth" 100;
  }

  .text-primer {
    color: #FD6E0A;
  }

  nav > h1 {
    font-size: 45px;
    font-weight: 800;
  }

  nav > ul {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  nav  li {
    list-style: none;
    margin-left: 50px;
  }

  nav  a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
  }

.btn-primary {
    color: white;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
  }

/* header related style */

.header {
    background-color: #FFF8F3;
    background-image: url('../portfolio-resources/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 100px;
    display: flex;
    align-items: center;

}

.banner-content {
  max-width: 500px;
}

.banner .profile-pic {
  height: 600px;
}

.contact-btn {
    color: #FD6E0A;
    background-color: #FFF8F3;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    margin-left: 30px;
}

.banner-greeting {
  font-size: 45px;
  margin-bottom: 0;
  color: #474747;
}

.banner-tittle {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.bannaer-pr {
  margin-bottom: 30px;
  font-size: 19px;
}

/* main section style */

.about {
  margin-top: 100px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #FFF8F3;
  border-radius: 10px;
  padding-top: 90px;
  padding-bottom: 60px;
  padding-left: 100px;
  padding-right: 100px;
  height: 300px;
}

.container-a {
  border: 1px solid #181818;
  padding-left: 10px;
  padding-right: 10px;
}

.section-tittle {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-des {
  font-size: 18px;
  color: #757575;
  margin-top: 30px;
}

/* about section style */

.about-info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
 
}

.tittle {
  text-align: center;
}

/* what i do */

.section-tittle2 {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-top: 100px;
}

.section-desc {
  text-align: center;
  font-size: 18px;
  color: #757575;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.about-info-container2{
  margin-left: 200px;
  margin-right: 200px;
}

.skill-container{
  display: flex;
  gap: 20px;
 
}

.skill {
  height: 320px;
  padding: 20px 15px 15px 15px;
  box-shadow: 1px 0 5px rgb(177, 174, 174);
  
}

.skill-tittle {
  margin-top: 30px;
}

.skill-des {
  margin-top: 30px;
}